#header h1
{
    margin-top: 1em;
}

#header > h3
{
    font-size: 1.9rem;
}

#header > h3 > a
{
    margin-right: 1rem;
}

main > section > h2
{
    font-size: 3rem;
}

table
{
    /*all: initial;*/
}

section
{
    padding: 2rem 0;
}